.posts-container {
  flex-basis: 100%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}

.post {
  background-color: #efefef;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(112, 112, 112, 0.2);
  display: flex;
  max-width: 100%;
  margin: 2px;
  overflow: hidden;
  width: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.post-body {
  padding: 20px;
  position: relative;
  font-size: small;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.post h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.post-preview {
  background-color: #20377c;
  color: #fff;
  padding: 30px;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-wrap: wrap;
  width: 10%;
  border-radius: 0% 80% 10% 0%;
}

.post-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.post-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.post-action-text {
  font-size: 10px;
}

.post-action-event:hover {
  color: #e91d1d;
}

.post-action-event.red {
  color: #e91d1d;
}

.top-action-card {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.action-card {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  width: 100%;
}

.info-comment {
  width: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 11px;
}

.title-text {
  font-size: 11px;
  opacity: 0.9;
  letter-spacing: 1px;
  cursor: pointer;
}

.date-post-text {
  font-size: 10px;
  opacity: 0.5;
  letter-spacing: 1px;
}

.image-name {
  background-color: rgb(251, 251, 251);
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  border-radius: 90px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.post-text {
  color: #ff6a00;
  font-size: large;
}

.comment-text {
  font-size: 20px;
}

.divisor {
  border-top: 1px solid #fbfbfb;
  height: 2px;
  max-width: 90%;
  padding: 0;
  margin: 40px auto 0 auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }
  .post {
    width: 90%;
  }
  .title-text {
    font-size: 10px;
  }
  .comment-text {
    font-size: 10px;
  }
  .floating-btn {
    right: 10px;
  }
}
