.public-post-container {
  flex-basis: 100%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}


@media screen and (max-width: 768px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }
  .post {
    width: 90%;
  }
  .title-text {
    font-size: 10px;
  }
  .comment-text {
    font-size: 10px;
  }
  .floating-btn {
    right: 10px;
  }
}
