// color variables
$basic-color: #fff;
$info-color: #1e88e5;
$warning-color: #e53935;
$basic-text-color: #333;
$white-text-color: #fff;
$transparent-color: transparent;
$background-color: #fafafa;

// functions
@function border($width: 8px, $type: solid, $color: transparent) {
  @return $width $type $color;
}

html,
section,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

// a {
//   color: inherit;
//   text-decoration: none;
// }

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  // margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

input {
  border: none;
  padding: 12px 15px;
  margin: 4px;
  /* width: 100%; */
}

::placeholder {
  color: #0845ab;
  opacity: 1;
}

input[type='text'],
input[type='date'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='time'] {
  padding: 12px;
  // border: 0.01rem solid #c2c0c0;
  // background-color: #f4f4f4;
  border-radius: 2px;
  //resize: vertical;
  margin: 0.2em;
  width: 90%;
  // margin-left: 5%;
  // height: 6vh;
}

select {
  padding: 12px;
  border: 0.01rem solid #d6d4d4;
  // background-color: #f4f4f4;
  color: #6d6c6c;
  border-radius: 5px;
  //resize: vertical;
  margin: 0.2em;
  width: 90%;
  height: 3em;
  // margin-left: 5%;
  // height: 6vh;
}

textarea {
  padding: 12px;
  // border: 0.01rem solid #c2c0c0;
  // background-color: #f4f4f4;
  border-radius: 2px;
  //resize: vertical;
  margin: 0.2em;
  width: 90%;
  // margin-left: 5%;
  // height: 6vh;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 1.2vw;
}

.downloadButton {
  display: flex !important;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.selectInformation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  border-radius: 5px;
  // background-color: #f2f2f2;
  padding: 20px;
  justify-content: left;
  width: 96%;
  min-height: 60%;
  margin-left: 2%;
  margin-right: 2%;
}

.center-item {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

.container-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

[class*='col-'].colflex {
  text-align: center;
  display: flex;
  float: left;
  margin-top: 6px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

[class*='col-'].column {
  text-align: center;
  display: flex;
  float: left;
  margin-top: 6px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

[class*='col-'].wrap {
  flex-wrap: wrap;
}

// [class*='col-'].flex {
//   display: flex;
// }

[class*='col-'].start {
  text-align: start;
  display: grid;
  float: left;
  margin-top: 6px;
}

[class*='col-'].center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.row.center {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.row.full {
  width: 100%;
}

.row.medium {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.action-pages {
  font-size: 1.5em;
  cursor: pointer;
  width: 10%;
  padding: 5px 5px 5px 7px;
}


/* Menu styles */

.menu-container {
  // height: 4.8em;
}

.root {
  height: 100%;
  margin: 0;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;

  transition: all 0.3s ease;
}

.buttonPrimary {
  width: 200px;
  height: 36px;
  border-radius: 5px;
  background-color: #492365;
  border: solid 1px transparent;
  color: #fff;
}

.pagecontainer {
  /* min-height: 100vh; */
  width: 94%;
  right: 0;
  position: inherit;
  top: 0;
  bottom: 0;
  height: 100%;
}

.pagecontainer,
.pagecontainer-fluid,
.pagecontainer-sm,
.pagecontainer-md,
.pagecontainer-lg,
.pagecontainer-xl {
  padding-right: 15px;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
}

.main {
  margin: auto;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.gridMenu {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-wrap: wrap;
  margin-top: 3rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 100%;
}

.gridBox {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-wrap: wrap;
  margin-top: 3rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 100%;
}

.spinnerContainer {
  background-color: #492365;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  flex-direction: column;
}

.custom-dialog {
  width: 80%;
  height: 90%;
}

.DocList {
  border-width: 1px 1px 0 1px;
  width: 150px;
  // font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.documentDiv {
  display: flex;
  align-items: center;
}

.calendarDiv {
  // width: 100%;
  // height: 100%;
  // position: relative;
  // margin: 20px;
}

.calendarBox {
  // width: 100%;
  // height: 100%;
  position: absolute;
}

.stack-top {
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  padding-bottom: 15vh;
}

.gray {
  background-color: #f8f6f6;
}

.avatar {
  border-radius: 50%;
}

.small-text {
  font-size: small;
}

.medium-text {
  font-size: medium;
}

.big-text {
  font-size: large;
}

.xbig-text {
  font-size: x-large;
}

.card-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  // margin: auto;
  text-align: center;
  // font-family: arial;
}

.card-profile.round {
  border-radius: 10px;
  padding: 10px;
}

.card-profile.medium {
  width: 50%;
  margin-left: 25%;
}

.title-profile {
  color: grey;
  font-size: 18px;
}

.card-a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  position: absolute;
  z-index: 10;
  background-color: aliceblue;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.p-image {
  // position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.file-upload {
  display: none;
}

.cert-upload {
  display: none;
}

.upload-button {
  font-size: 1.2em;
}

.upload-buttonbig {
  font-size: 2.2em;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

.socialImages {
  width: 100%;
}

.corpoPais {
  width: 80%;
}

.job__offers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0845ab;
}

.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}
.tooltip .tiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}
.tooltip:hover .tiptext {
  visibility: visible;
}

.tooltip.top .tiptext {
  margin-left: -60px;
  bottom: 150%;
  left: 50%;
}
.tooltip.top .tiptext::after {
  margin-left: -5px;
  top: 100%;
  left: 50%;
  border-color: #2e2e2e transparent transparent transparent;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

// @media (max-width: 600px) {
//   nav,
//   article {
//     width: 100%;
//     height: auto;
//   }
// }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*='col-'] {
    width: 100%;
    margin-top: 0;
  }
  .socialImages {
    width: 20%;
  }
  .corpoPais {
    width: 80%;
  }
  label {
    font-size: medium;
  }
}
